*,
*::after,
*::before{
    box-sizing: border-box; /**/
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    text-align: center;
    line-height: 130%;
    font-weight: 500;
    font-size: 36px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

/*1-rd block:*/
.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /*100% экрана*/
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 49px;
    
}
.header__phone{
    font-style: 16px;
    line-height: 130%;
    color: #fff;
    font-weight: 700;
}
.header__phone-number{
    font-weight: 400;
    margin-left: 19px;
    padding: 12px 31px 13px;
    background-color: #886239;
    border-radius: 22px;
}
.menu{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    padding: 27px 0 24px;
}
.menu__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: 16px;
    color: #fff;
}


.header__title{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    margin-bottom: auto;
}

.header__descr{
    font-size: 20px;
    font-weight: 700;
    max-width: 420px;
    margin-bottom: 20px;
}
.header__btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 19px 55px 20px;
    background: #886239;
    border-radius: 30px;
    margin-bottom: 20px;
}
.header__arrow{
    text-align: center;
    margin-bottom: 15px;
}

/*2-nd block:*/
.direction{
    padding: 100px 0;
}
.direction__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*делим сетку на 4 равные части (fractal)*/
    grid-gap: 32px; /*внутренний промежуток между ячейками сетки*/
}
.direction__img{
    display: block;
}
.direction__text{
    font-size: 16px;
    border: 1px solid #D9D9DE;
    border-top: none;
    padding: 10px 19px 14px;
}
.direction__item:hover {
    box-shadow: 5px 5px 10px #886239;
    transition: 0.5ms linear;
}

/*3-rd block:*/
.travel-info{
    background-image: url(../images/travel-info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;
}
.travel-info__title{
    color:#fff;
    margin-bottom: 50px;
}
.travel-info__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px 67px;
}
.travel-info__img{
    margin-bottom: 15px;
}
.travel-info__text{
    color: #fff;
    line-height: 130%;
    font-size: 16px;
}

/*4-th block:*/
.popular{
    padding: 100px 0;    
}
.popular__title{
    margin-bottom: 40px;
}
.popular__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 82px;
    border-bottom: 1px solid #D9D9DE;
}
.popular__link{
    padding: 16px 24px 19px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 130%;
    min-height: 256px;
}
.popular__link-img {
    transition: 1s;
}
.popular__link-img:hover{
    transform: scale(1.08);
    box-shadow: 7px 7px #886239;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2; /*3-ий и 6-й элементы grid'a занимают 2 колонки*/
    grid-row: span 2;
}
.popular__link-title{
    font-weight: 500;
    margin-bottom: 15px;
}
.popular__link-title--big{
    font-size: 24px;
}
.popular__price{
    font-weight: bold;
    font-size: 16px;
    margin-top: auto;
}
.popular__country,
.popular__time{
    margin-bottom: 15px;
}

/*5-th block:*/
.map{
    padding-bottom: 100px;
}
.map__title{
    margin-bottom: 46px;
}

/*6-th block:*/
.about{
    padding-bottom: 100px;
}
.about__inner{
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}
.about__title{
    text-align: left;
    margin-bottom: 25px;
}
.about__text{
    margin-bottom: 34px;
}
.about__link{
    text-decoration: underline;
    font-size: 16px;
    font-weight: normal;
    color: #C4C4C4;
    line-height: 19px;
}
.about__popup{
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: 725px 400px;
    background-position: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__link-img:hover{
    transform: scale(1.2);
    transition: 0.5s linear;
}
.about__popup:hover{
    opacity: 93%;
    box-shadow: 0 0 15px rgba(136,98,57,0.9); /* Параметры тени */
    transition: 0.15s linear;
}

/*7-th block:*/
.gallery{
    padding: 50px 0 106px 0;
    background: #886239;
    color: #fff;
}
.gallery__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;
}
.gallery__link{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
}
.gallery__item-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}
.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}
.slick-prev{
    right: 60px;
}

/*8-th block:*/
.tour{
    padding: 110px 0 100px;
}
.tour__title{
    margin-bottom: 77px;
}
.tour__box{
    column-count: 2; /*проще делить колонки с текстом*/
    column-gap: 46px;
    padding-bottom: 50px;
    margin-bottom: 44px;
    border-bottom: 1px solid #D9D9DE;
}
.tour__text{
    margin-bottom: 20px;
}
.tour__info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
}
.tour__info-item{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;
    color: #886239;
    text-align: center;
}
.tour__info-text{
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    line-height: 130%;
}

/*9-th block:*/
.booking{
    padding: 75px 0;
    background-color: #EAEAEA;
}
.booking__title{
    margin-bottom: 43px;
}
.booking__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    max-width: 830px;
    margin: 0 auto;
}
.booking__input{
    width: 256px;
    height: 44px;
    border: 1px solid #D9D9DE;
    padding: 11px 14px 12px;
    margin-bottom: 28px;
    font-size: 16px;
}
.booking__area::placeholder,
.booking__input::placeholder{
    font-family: 'Roboto', serif;
    font-size: 16px; 
    color: #C4C4C4;
}
.booking__area{
    width: 100%;
    height: 112px;
    padding: 14px;
    border: 1px solid #D9D9DE;
    resize: none; /*запрещено вручную изменять размер textarea*/
    margin-bottom: 67px;
}
.booking__btn{
    width: 297px;
    height: 60px;
    background: #886239;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 19px 65px 19px;
    cursor: pointer;
}
.booking__label{
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
}
.booking__checkbox-text{
    border-bottom: 1px solid #000;
}
.booking__checkbox{
    /*скрытие элемента checkbox*/
    position: absolute; 
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); /*область видимости (скрыли посностью)*/
    /*---*/
    padding-left: 45px;
}
.booking__checkbox-style{
    width: 26px;
    height: 26px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
}
.booking__checkbox:checked + .booking__checkbox-style::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #C4C4C4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*ставим квадрат по центру*/
}

/*10-th block:*/
.footer{
    background: #1F1E1E;
    padding: 80px 0;
}
.footer__logo{
    text-align: center;
    margin-bottom: 70px;
}
.footer__box{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 130%;
    
    max-width: 830px;
    margin: 0 auto;

    color: rgba(255, 255, 255, .8); /*opacity родителя = 0.8*/
}
.footer__info {
    width: 225px;
}
.footer__box-title {
    margin-bottom: 7px;
    font-weight: 500;
    color: #fff; /*opacity = 1*/
}
.footer__copy {
    margin-bottom: 3px;
    opacity: 0.8;
}
.footer__link {
    text-decoration: underline;
    opacity: 0.9;
}
.footer__address {
    width: 165px;
}
.footer__contacts {
    width: 210px;
}
.footer_mail {
    opacity: 0.8;
    display: block;
}
/*end*/


/*--------------------------------------------------------------*/

/*adaptive*/
.menu__btn{
    display: none;
}

@media (max-width: 1200px){ /*media запрос*/ /*работает, когда ширина экрана меньше 1200px*/ /*находится ниже основного!*/
    .popular__link{
        min-height: 200px;
    }
    .popular__items{
        grid-gap: 20px;
    }
    .popular__link-img:hover{
        transform: scale(1.02);
        box-shadow: 5px 5px #886239;
    }
}

@media (max-width: 1140px) {
    .direction__inner{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .direction__img{
        width: 100%;
    }
    .header__descr{
        color:rgba(255, 255, 255, .8)
    }
    .popular__items{
        grid-gap: 13px;
    }
    .about__inner {
        grid-template-columns: 1fr 2fr; /*1 и 2 части (1/3 и 2/3)*/
        grid-gap: 20px;
    }
    .about__popup:hover{
        opacity: 85%;
        box-shadow: 0 0 0;
        transition: 0.15s linear;
    }
    .gallery__item-inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item-img{
        width: 100%;
    }
}

@media (max-width: 1010px) {
    .tour__info{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 15px;
    }
    .tour__box {
        column-count: 1;
    }
}

@media (max-width: 830px){
    .header__phone span{
        display: none;
    }
    .header__title{
        font-size: 75px;
    }
    .travel-info__items{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    .popular__link:nth-child(3),
    .popular__link:nth-child(6){
        grid-column: auto;
        grid-row: auto;
    }
    .popular__items{
        grid-template-columns: repeat(2, 1fr);
    }
    .popular__link {
        min-height: 320px;
    }
    .popular__link-img:hover{
        transform: scale(1.02);
        box-shadow: 4px 4px #886239;
    }
    .popular{
        padding: 50px 0;
    }
    .popular__link-title--big {
        font-size: 22px;
    }
    .map{
        padding-bottom: 50px;
    }
    .map__iframe{
        height: 400px;
    }
    .about__inner {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .about__popup{
        min-height: 400px;
        background-size: 789px 400px;
    }
    .about{
        padding-bottom: 50px;
    }
    .gallery {
        padding-bottom: 50px;
    }
    .tour{
        padding: 50px 0;
    }
    .tour__info{
        grid-template-columns: repeat(2, 1fr);
    }
    .booking{
        padding: 50px 0;
    }
    .booking__input{
        width: 100%;
    }
    .booking__label{
        margin-top: -192px;
        margin-left: 50px;
        width: 100%;
    }
    .footer{
        padding: 50px 0;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    .footer__box{
        display: block;
        text-align: center;
    }
    .footer__info,
    .footer__address{
        margin: 0 auto 25px;
    }
    .footer__contacts{
        margin: 0 auto;
    }
}

@media (max-width: 560px){
    .header__title{
            font-size: 50px;
    }
    .menu__btn{
        display: inline-block;
        width: 35px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: 110px;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }
    .menu__btn::before{
        top: 0;
    }
    .menu__btn::after{
        bottom: 0;
    }
    .menu__btn span{
        display: block;
        height: 2px;
        background-color: #fff;
    }
    .menu__list{
       transform: translateY(-200%); /*скрыли лист*/
       display: block;
       background-color: #886239;
       padding: 10px 0;
       position: absolute;
       left: 0;
       right: 0;
       transition: all .3s;
    }
    .menu__list.menu__list--active{
        transform: translateY(0%); /*отображение списка меню (гамбургер)*/
    }
    .menu__link{
        padding: 10px;
        display: block;
        text-align: center;
    }
    .logo{
        width: 100%;
        margin-bottom: 30px;  
        text-align: center;
    }
    .header__phone-number{
        margin-left: 0;
    }
    .menu{
        border: none;
    }
    .direction__inner{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .direction{
        padding: 50px 0;
    }
    .travel-info__items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .title{
        font-size: 28px;
    }
    .popular__link-title--big {
        font-size: 20px;
    }
    .popular__items{
        grid-template-columns: repeat(1, 1fr);
    }
    .popular__link-img:hover{
        transform: scale(1.015);
        box-shadow: 4px 4px #886239;
    }
    .gallery__item-inner {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }
    .gallery__title{
        width: 100%;
        text-align: left;
    }
    .gallery__top{
        flex-wrap: wrap;
    }
    .tour__title {
        margin-bottom: 37px;
    }
}

@media (max-width: 460px) {
    .header__btn{
        width: 100%;
        text-align: center;
    }
    .travel-info__items{
        grid-template-columns: repeat(1, 1fr);
    }
    .travel-info__item{
        text-align: center;
    }
    .direction__inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .header__descr{
        font-size: 17px;
        color:rgba(255, 255, 255, .8)
    }
    .tour__info{
        grid-template-columns: repeat(1, 1fr);
    }
    .booking__checkbox-text {
        border-bottom: 0;
        text-decoration: underline;
    }
    .booking__btn{
        width: 100%;
    }
    .header__descr{
        text-align: center;
        font-size: 16px;
    }
    .header__top{
        padding: 16px 0 0;
    }
}

@media (max-width: 360px) {
    .menu{
        padding: 27px 0 0px;
    }
}

@media (max-width: 340px) {
    .about__popup{
        min-height: 280px;
    }
    .booking__btn{
        font-size: 15px;
    }
    .booking,
    .tour,
    .gallery,
    .about,
    .map,
    .popular,
    .travefl-info,
    .tour__box,
    .footer,
    .direction{
        padding: 25px 0;
    }
    .title{
        margin-bottom: 20px;
    }
    .header__descr{
        text-align: center;
        font-size: 14px;
    }
    .header__title{
        font-size: 40px;
        margin-bottom: 100px;
    }
    .header__phone-number{
        font-size: 15px;
    }
    .header__btn{
        font-size: 15px;
        padding: 12px 55px 13px;
        margin-bottom: 50px;
    }
    .header__top{
        padding: 16px 0 16px;
    }
}